.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidenav-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.main-content {
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 64px); /* Assuming the navbar height is 64px */
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
